.container__paddle{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100vh;
  background-image: url('../img/karta3.png');
  background-position: center;
  background-size: cover;
}
.game-board-paddle{
  margin: 15px;
  border:10px solid rgba(0, 128, 255, 0.943);
  cursor: none;
}
.container__score__btn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right:-35px;
}
.btn__paddle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.btn__paddle .btn{
  min-width:50%;
  max-height: 40%;
  border: 3px solid #0000FF;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: -25%;
  background-image: url('../img/btn.gif');
  background-position: center;
  background-size: cover;
  color:rgb(255, 0, 0);
  box-shadow: 6px 6px 6px gray;
  font-weight: 600;
  font-family: 'Gochi Hand', cursive;
  font-size: 22px;
  outline: 0;
  cursor: pointer;
  box-shadow: 4px 4px 4px black;
}
.table__score{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: -25%;
  color: #0000FF;
  font-family: 'Gochi Hand', cursive;
}
.table__score h1:nth-child(1),
.table__score h1:nth-child(3){
  color: rgb(0, 170, 255);
  font-size: 45px;
}
.table__score h1:nth-child(2),
.table__score h1:nth-child(4){
  color:rgb(255, 0, 0);
  font-size: 40px;
  font-weight: 900;
}
.game-board-paddle--full-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.full {
  position: absolute;
  z-index: 99;
  right: 200px;
  top: 100px;
  opacity: 0.5;
  font-size: 24px;
}
