.container__settings{
    background: #405D78;
    width: 100%;
    height: 100vh;
    background-image: url('../img/karta3.png');
    background-position: center;
    background-size: cover;
    color: #0000FF;
    font-family: 'Gochi Hand', cursive;
}
.container__settings__text{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 96%;
    height: 100vh;
}
.container__settings .btn{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
}
.settings__general,
.settings__tictactoe,
.settings__paddle{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.settings__general div,
.settings__tictactoe div{
text-align: center;
}

.settings__paddle input{
    width: 100%;
    color:red;
}
.input_range{
    appearance: none;
    width: 100%;
    height: 25px;
    border:none;
    border-radius: 10px;
    background: #0000FF;
    cursor: pointer;
}

