.settings_img{
    background-image: url('../img/karta3.png');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.settings{
    display: flex;
    flex-direction: column; 
    align-items: center;
    color: #0000FF;
    font-family: 'Gochi Hand', cursive;
}
.settings h1{
    margin-top: 10%;
    border-bottom: 4px solid red;
    font-weight: 900;
}
.settings__title {
    width: 100%;
    text-align: center;
    font-weight: 600;
    margin-top: 12%;
  }
.settings__title h2 {
    font-weight: 900;
}
.settings__box {
    width: 80%;
}
.input_range{
    appearance: none;
    width: 40%;
    height: 25px;
    border:none;
    outline: 0;
    border-radius: 10px;
    background: #0000FF;
    cursor: pointer;
}