.nav {
  display: flex;
  justify-content: space-around;
  background: #3366FF;
  border-radius: 5px;
}
.nav-link{
  color: #161D4B;
  font-size: 18px;
  font-weight: 600;
}
.nav-link:hover{
  color: #B6F56F;
  text-decoration: none;
}


/* repo radka */
/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
