.nav {
  display: flex;
  justify-content: space-around;
  background: #3366FF;
  border-radius: 5px;
}
.nav-link{
  color: #161D4B;
  font-size: 18px;
  font-weight: 600;
}
.nav-link:hover{
  color: #B6F56F;
  text-decoration: none;
}